*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

.user__avatar {
    height: 100px;
    width: 100px;
}

.user__avatar img {
    width: 100%;
    object-fit: cover;
}

a {
    display: block;
    text-decoration: none;
}

h2,
h4,
p {
    color: black;
}
